<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pxper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Pxper.Properties.Settings>
            <setting name="ShowAbsRulers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRelRulers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideOverlaysIfActiveWindowTitleContains" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ActiveWindowTitlePart" serializeAs="String">
                <value>Microsoft Visual Studio</value>
            </setting>
            <setting name="ToolbarWndLocation" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="HelpWndShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GuidesTransparency" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImagesTransparency" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="RefreshRate" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="ToolbarWndVisibility" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMagnifyingGlass" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MagnifyingGlassWidth" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="MagnifyingGlassHeight" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="MagnificationFactor" serializeAs="String">
                <value>3</value>
            </setting>
        </Pxper.Properties.Settings>
    </userSettings>
</configuration>